<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <!-- This script forces the MathJax system to load and display your formulas -->
    <script src="https://polyfill.io"></script>
    <script id="MathJax-script" async src="https://jsdelivr.net"></script>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title %}
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      {% endif %}

      {{ content }}

      {% if site.github.private == false %}
        <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
          This site is open source. <a href="{{ site.github.repository_url }}">Improve this page</a>.
        </div>
      {% endif %}
    </div>
    <script src="https://cloudflare.com" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTb5ER1GoGkVnmKKBgs=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
